@charset "UTF-8";
html {
  position: relative;
  min-height: 100%; }

body {
  margin: 0px;
  font-family: "Roboto", sans-serif;
  background-color: #fde8e8; }

a,
a:active {
  color: white;
  text-decoration: none; }

/*#region   ----- Header ----- */
header {
  background-color: rgba(221, 5, 5, 0.911);
  color: white;
  padding: 5px;
  overflow: hidden; }

.left-header {
  float: left;
  width: 400px; }

.left-header img {
  float: left;
  padding-right: 10px;
  width: 75px;
  height: 75px; }

#nombre-logo {
  display: block;
  font-weight: 900;
  padding: 5px;
  margin: 0px;
  color: #ffb0a6; }

.left-header input {
  font-size: 1.2em;
  width: 70%; }

.right-header {
  float: right; }

#nav-bar {
  overflow: hidden;
  display: inline-block;
  /* El font size 0 es para remover el micro espacio entre los li */
  font-size: 0px;
  padding: 0px;
  margin: 10px;
  padding: 15px; }

#nav-bar a {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px;
  border-left: 1px;
  border-color: white;
  border-style: solid; }

.inline-block {
  display: inline-block; }

.topnav a.nav-icon {
  display: none; }

.first-item {
  /* Acá es necesario poner important, sino me renderea el border del primer item si o si */
  border-left: 0px !important; }

#nav-bar a:hover {
  background-color: #ff6d6d; }

#nav-bar a:active,
a.active {
  background-color: #750000; }

@media screen and (max-width: 1300px) {
  .topnav a:not(:first-child) {
    display: none; }
  .topnav a.nav-icon {
    display: inline;
    border: none; } }

@media screen and (max-width: 1300px) {
  .topnav.responsive {
    display: flex !important;
    flex-direction: column !important;
    margin-left: 0;
    margin-top: 0 !important; }
  .topnav.responsive a {
    float: none;
    display: inline;
    text-align: left; }
  .topnav.responsive .nav-icon {
    order: -1; } }

.carrito-group {
  vertical-align: top;
  padding: 10px;
  padding-bottom: 5px;
  display: inline-block; }

.product-numbers {
  display: inline-block; }

.product-numbers span {
  display: block;
  padding: 5px 3px; }

.carrito-group #logo-carrito {
  float: right;
  padding: 5px;
  width: 50px;
  height: 50px; }

#logo-carrito:hover {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear; }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(45deg); }
  50% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

/*#endregion ----- Header ----- */
/*#region   ----- Footer ----- */
footer {
  background-color: rgba(221, 5, 5, 0.911);
  color: white;
  padding: 5px;
  overflow: hidden; }

.footer-content {
  margin: auto;
  /* Un tamaño común de width es 960px
       fuente: https://www.w3schools.com/howto/howto_css_center_website.asp */
  max-width: 960px; }

.social-button {
  padding: 8px 8px 8px 32px;
  background: #f0f0f0; }

#instagram-button {
  background: #f0f0f0 url("../media/logo_instagram.png");
  background-size: 27px;
  background-position: 2px 2px;
  background-repeat: no-repeat; }

#twitter-button {
  background: #f0f0f0 url("../media/logo_twitter.png");
  background-size: 27px;
  background-position: 2px 2px;
  background-repeat: no-repeat; }

#facebook-button {
  background: #f0f0f0 url("../media/logo_facebook.jpg");
  background-size: 27px;
  background-position: 2px 2px;
  background-repeat: no-repeat; }

.tarjetas-envio {
  width: 300px;
  float: left;
  padding: 25px 25px 0px 0px; }

.social {
  vertical-align: top;
  /* Si saco el width acá y le pongo el display inline block 
    en news-redes me permite apilarlos si reduzco el tamaño de la pagina */
  width: 100%; }

.center-scale-text-image {
  text-align: center; }

.center-scale-text-image b,
.center-scale-text-image span {
  /* El block me da un break line */
  display: block;
  padding: 5px; }

.center-scale-text-image img {
  width: 75px;
  padding: 10px; }

#copyright {
  padding: 10px;
  font-size: smaller;
  text-align: left; }

.news-redes {
  padding-top: 25px;
  /* display: inline-block; */ }

.news-redes span {
  font-size: 30px;
  display: block; }

.news-redes button {
  margin: 10px;
  width: 110px; }

#legales {
  margin: 10px; }

#newsletter {
  padding: 10px; }

#newsletter span {
  font-size: 25px; }

#newsletter input {
  font-size: medium; }

#newsletter button {
  font-size: medium; }

/*#endregion   ----- Footer ----- */
/*#region ---- Login ----*/
.register-link {
  text-align: center;
  display: block;
  color: black;
  margin-bottom: 10px; }

.register-link:hover {
  text-decoration: underline; }

.underline {
  text-decoration: underline; }

/*#endregion ---- Login ----*/
/*#region ---- Carrito ----*/
.main {
  margin: 10px auto;
  max-width: 960px;
  /* height: 600px; */ }

/*#endregion ---- Carrito ----*/
.wide {
  width: 200px;
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: medium; }

/*#region ---- Stock ----*/
.stock-grid-container {
  margin-right: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px 10px;
  grid-template-areas: "navigation stock-main stock-details"; }

#stock-main {
  grid-area: stock-main;
  margin-top: 10px; }

.table {
  border-collapse: collapse;
  width: 100%; }

.table td,
.table th {
  border: 1px solid #c78787;
  padding: 8px; }

.table tr:nth-child(even) {
  background-color: #ffc6c6; }

.table tr:hover {
  background-color: #feffc1; }

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #740101;
  color: white; }

#stock-details {
  grid-area: stock-details;
  margin-top: 10px; }

.space-around {
  justify-content: space-around; }

.CRUD-buttons {
  margin: 10px; }

.CRUD-buttons button {
  font-size: 1.5em;
  width: 200px;
  color: #f0f0f0;
  font-weight: 600;
  transition: 0.1s; }

.CRUD-buttons__agregar {
  background-color: #00a65a; }

.CRUD-buttons__agregar:hover {
  background-color: #63ca9c; }

.CRUD-buttons__quitar {
  background-color: #dd4c39; }

.CRUD-buttons__quitar:hover {
  background-color: #e67667; }

.CRUD-buttons__modificar {
  background-color: #f39c12; }

.CRUD-buttons__modificar:hover {
  background-color: #eeac41; }

.flex-grow {
  flex-grow: 2; }

/*#endregion ---- Stock ----*/
/*#region ---- Contacto ----*/
.form {
  border: 3px solid black; }

.cut-half-img {
  -webkit-shape-outside: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
  shape-outside: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
  -webkit-shape-margin: 20px;
  shape-margin: 20px;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%); }

/* Me gustaría ajustarlo dinamicamente a la imagen (Contacto img) */
.contact-form {
  height: 600px; }

.form .contacto-img {
  width: 800px;
  height: 600px;
  opacity: 0.6;
  float: left; }

.right-form {
  display: inline; }

/* No puedo centrar el section en el lado derecho */
.right-form section {
  display: inline-block; }

.right-form label {
  margin-bottom: 0; }

.label-input {
  display: inline-block;
  padding: 10px 15px; }

/* Hace un override forzado del display block */
.stacked {
  display: block !important; }

.label-input textarea {
  display: inline-block; }

.label-input select {
  width: 208px;
  padding: 2px; }

#reset-submit {
  text-align: center; }

.button-submit {
  background-color: #ff6565;
  border-radius: 999px;
  border: 0px solid;
  color: white;
  font-size: large;
  height: 50px;
  width: 200px; }

.button-submit:hover {
  background-color: #e03131; }

.button-clear {
  background-color: white;
  border-radius: 999px;
  border: 1px solid;
  font-size: large;
  height: 50px;
  margin-right: 25px;
  width: 200px; }

.button-clear:hover {
  background-color: #cccccc; }

/*#endregion ---- Contacto ----*/
.pill {
  border-radius: 999px; }

/* Da un height de 30px */
.tall {
  height: 30px; }

.black-on-white {
  background-color: black;
  color: white; }

.black-on-white:hover,
.black-on-white:focus {
  background-color: white;
  transition: 0.3s;
  color: black; }

.block {
  display: block; }

.checkbox {
  vertical-align: middle;
  display: inline;
  width: auto; }

.center {
  text-align: center; }

.flex {
  display: flex;
  flex-wrap: wrap; }

/*#region ---- Index ----*/
.carousel {
  margin: 10px auto;
  width: 100vw;
  height: auto; }

.splide__img {
  height: auto;
  width: 100vw; }

.side-panel {
  /* Con el flex basis puedo setear el width */
  flex: 0 0 200px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px; }

.clean-list {
  list-style-type: none;
  padding-left: 20px; }

.side-panel__head {
  margin-top: 2px; }

.nav-location {
  box-sizing: border-box;
  height: 30px;
  margin: 10px;
  justify-content: space-between;
  align-items: center; }

.main-index {
  margin: 10px auto;
  max-width: 1200px;
  /* height: 600px; */ }

.main-panel {
  margin-top: 0px;
  margin-left: 20px; }

.flex-row {
  display: flex;
  flex-direction: row; }

.flex-wrap {
  flex-wrap: wrap; }

.flex-col {
  display: flex;
  flex-direction: column; }

.producto {
  flex-grow: 2;
  text-align: center;
  border-radius: 5%;
  margin: 5px;
  padding: 5px;
  background: #fcb5b5;
  background: linear-gradient(135deg, #fcb5b5 0%, #fde8e8 73%);
  box-shadow: 1px 1px #740101; }

.productos {
  justify-content: space-around; }

.producto__img {
  border-radius: 5%;
  width: 200px;
  height: 200px;
  display: block;
  transition: all 1s; }

.producto__img:hover {
  transform: scale(1.1) rotateZ(1deg); }

.producto__texto {
  font-size: 1.5rem; }

.producto__precio {
  font-weight: 500; }

.flex-center {
  align-items: center;
  justify-content: center; }

.flex-justify-center {
  justify-content: center; }

.flex-center-top {
  align-items: center; }

/*#endregion ---- Index ----*/
/* #region ---- Admin ---- */
.admin-grid-container {
  margin-right: 10px;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 0.9fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 1.5fr 0.9fr 0.9fr 0.9fr;
  gap: 10px 10px;
  grid-template-areas: "navigation news news news news news news" "navigation reporte-ganancias reporte-ganancias reporte-ganancias reporte-ganancias reporte-ganancias reporte-ganancias" "navigation reporte-visitas reporte-visitas reporte-visitas reporte-visitas reporte-stock reporte-stock" "navigation reporte-ventas reporte-ventas reporte-ventas reporte-ventas reporte-mensajes reporte-mensajes" "navigation reporte-ventas reporte-ventas reporte-ventas reporte-ventas calendario calendario"; }

.navigation {
  width: 200px;
  grid-area: navigation;
  background-color: #525252; }

.navigation__link {
  padding: 10px;
  padding-left: 20px;
  font-size: 1em; }

.navigation__link:hover {
  background-color: #353535; }

.navigation__header {
  color: azure; }

.navigation__text {
  padding-left: 8px; }

.widget-header {
  display: inline;
  padding: 0px;
  margin: 0px;
  font-size: 1.8em;
  font-weight: 400;
  padding-left: 8px; }

.widget-logo {
  height: 1.8em;
  width: 1.8em; }

.widget-panel {
  border-bottom: 1px solid #a0a0a0;
  padding: 5px; }

.panel {
  background-color: #fdf9f9;
  box-shadow: 1px 1px 4px black; }

.background-red {
  background-color: #dd4c39; }

.background-cyan {
  background-color: #00c0ef; }

.background-yellow {
  background-color: #f39c12; }

.background-green {
  background-color: #00a65a; }

.vertical-align {
  vertical-align: middle; }

.center-text {
  text-align: center; }

.flex-stretch {
  align-items: stretch;
  align-content: center; }

.news {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  grid-area: news;
  flex-wrap: wrap; }

.news-item {
  flex-grow: 2;
  flex-basis: 100px;
  margin-left: 10px;
  margin-right: 10px;
  /* Position relative para que el icono esté en absoluto respecto
    este conteiner */
  position: relative;
  transition: 1s; }

.news-item:hover {
  transform: scale(1.05); }

.news-item:nth-child(1) {
  margin-left: 0px; }

.news-item:nth-last-child(1) {
  margin-right: 0px; }

.news-item__icon {
  position: absolute;
  right: 0px;
  height: 100px;
  width: 100px;
  opacity: 0.3;
  z-index: 1; }

.news-item_header {
  color: white;
  padding-left: 10px; }

.news-item__header1 {
  font-size: 2rem; }

.news-item__header2 {
  font-size: 1rem;
  font-weight: 400; }

.reporte-ganancias {
  grid-area: reporte-ganancias; }

.chart-container {
  position: relative;
  height: 40vh; }

.reporte-ventas {
  grid-area: reporte-ventas; }

.reporte-visitas {
  grid-area: reporte-visitas; }

.reporte-visitas img {
  width: 100%; }

.reporte-stock {
  grid-area: reporte-stock; }

.reporte-mensajes {
  grid-area: reporte-mensajes; }

.calendario {
  grid-area: calendario; }

.border {
  border: 1px solid black; }

/* #endregion ---- Admin ---- */
