// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//

// Option 1
//
// Import all of Bootstrap's CSS

// @import "bootstrap/scss/bootstrap";

// Option 2
//
// Place variable overrides first, then import just the styles you need. Note that some stylesheets are required no matter what.

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
// @import "bootstrap/scss/tables";
// @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
// @import "bootstrap/scss/dropdown";
// @import "bootstrap/scss/button-group";
// @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
// @import "bootstrap/scss/nav";
// @import "bootstrap/scss/navbar"; // Requires nav
// @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
// @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
// @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
// @import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";


//
// Custom styles
//

// Variables
$back-footer-header: rgba(221, 5, 5, 0.911);
$back-main: rgb(253, 232, 232);
$back-social-buttons: #f0f0f0;
$font-family-global: "Roboto", sans-serif;

$btn-agregar-background: #00a65a;
$btn-quitar-background: #dd4c39;
$btn-modificar-background: #f39c12;


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0px;
    font-family: $font-family-global;
    background-color: $back-main;
}

a,
a:active {
    color: white;
    text-decoration: none;
}

/*#region   ----- Header ----- */

header {
    background-color: $back-footer-header;
    color: white;
    padding: 5px;
    overflow: hidden;
}

.left-header {
    float: left;
    width: 400px;
    img {
        float: left;
        padding-right: 10px;
        width: 75px;
        height: 75px;
    }
    input {
        font-size: 1.2em;
        width: 70%;
    }
}

#nombre-logo {
    display: block;
    font-weight: 900;
    padding: 5px;
    margin: 0px;
    color: rgb(255, 176, 166);
}

.right-header {
    float: right;
}

#nav-bar {
    overflow: hidden;
    display: inline-block;
    /* El font size 0 es para remover el micro espacio entre los li */
    font-size: 0px;
    padding: 0px;
    margin: 10px;
    padding: 15px;

    a {
        padding: 15px;
        font-size: 20px;
        text-align: center;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
        border-left: 1px;
        border-color: white;
        border-style: solid;
        transition: 200ms;
    }
    a:hover {
        background-color: rgb(255, 109, 109);
        text-decoration: none;
        color: white;
    }
    a:active,
    a.active {
    background-color: rgb(117, 0, 0);
}
}

.inline-block {
    display: inline-block;
}

.topnav a.nav-icon {
    display: none;
}

.first-item {
    /* Acá es necesario poner important, sino me renderea el border del primer item si o si */
    border-left: 0px !important;
}

@media screen and (max-width: 1300px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.nav-icon {
        display: inline;

        border: none;
    }
}

@media screen and (max-width: 1300px) {
    .topnav.responsive {
        display: flex !important;
        flex-direction: column !important;
        margin-left: 0;
        margin-top: 0 !important;
        a {
            float: none;
            display: inline;
            text-align: left;
        }
        .nav-icon {
            order: -1;
        }
    }
}

.carrito-group {
    vertical-align: top;
    padding: 10px;
    padding-bottom: 5px;
    display: inline-block;
    box-sizing: content-box;
    #logo-carrito {
        float: right;
        padding: 5px;
        width: 50px;
        height: 50px;
        box-sizing: content-box;
    }
    
    #logo-carrito:hover {
        animation-name: spin;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
}

.product-numbers {
    display: inline-block;
    span {
        display: block;
        padding: 5px 3px;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*#endregion ----- Header ----- */

/*#region   ----- Footer ----- */

footer {
    background-color: $back-footer-header;
    color: white;
    padding: 5px;
    overflow: hidden;
}

.footer-content {
    margin: auto;
    /* Un tamaño común de width es 960px
       fuente: https://www.w3schools.com/howto/howto_css_center_website.asp */
    max-width: 960px;
}


@mixin social-buttons($img-url) {
    background: $back-social-buttons url($img-url);
    background-size: 27px;
    background-position: 2px 2px;
    background-repeat: no-repeat;
}

.social-button {
    padding: 8px 8px 8px 32px;
    background: $back-social-buttons;
}

#instagram-button {
    @include social-buttons("../../media/logo_instagram.png")
}

#twitter-button {
    @include social-buttons("../../media/logo_twitter.png")
}

#facebook-button {
    @include social-buttons("../../media/logo_facebook.png")
}

.tarjetas-envio {
    width: 300px;
    float: left;
    padding: 25px 25px 0px 0px;
}

.social {
    vertical-align: top;
    /* Si saco el width acá y le pongo el display inline block 
    en news-redes me permite apilarlos si reduzco el tamaño de la pagina */
    width: 100%;
}

.center-scale-text-image {
    text-align: center;
    b, span {
        /* El block me da un break line */
        display: block;
        padding: 5px;
    }
    img {
        width: 75px;
        padding: 10px;
    }
}

#copyright {
    padding: 10px;
    font-size: smaller;
    text-align: left;
}

.news-redes {
    padding-top: 25px;
    /* display: inline-block; */
    span {
        font-size: 30px;
        display: block;
    }
    button {
        margin: 10px;
        width: 110px;
    }
}

#legales {
    margin: 10px;
}

#newsletter {
    padding: 10px;
    button {
        font-size: medium;
    }
    input {
        font-size: medium;
    }
    span {
        font-size: 25px;
    }
}

/*#endregion   ----- Footer ----- */

/*#region ---- Login ----*/
.register-link {
    text-align: center;
    display: block;
    color: black;
    margin-bottom: 10px;
}

.register-link:hover {
    text-decoration: underline;
}

.underline {
    text-decoration: underline;
}

/*#endregion ---- Login ----*/

/*#region ---- Carrito ----*/
.main {
    margin: 10px auto;
    max-width: 960px;
    /* height: 600px; */
}

/*#endregion ---- Carrito ----*/

.wide {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 5px;
    font-size: medium;
}

/*#region ---- Stock ----*/

.stock-grid-container {
    margin-right: 10px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    grid-template-areas: "navigation stock-main stock-details";
}

#stock-main {
    grid-area: stock-main;
    margin-top: 10px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    .td, .th {
    border: 1px solid rgb(199, 135, 135);
    padding: 8px;
    }
    tr:nth-child(even) {
        background-color: rgb(255, 198, 198);
    }
    tr:hover {
        background-color: rgb(254, 255, 193);
    }
    th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(116, 1, 1);
        color: white;
    }
}

#stock-details {
    grid-area: stock-details;
    margin-top: 10px;
}

.space-around {
    justify-content: space-around;
}


.CRUD-buttons {
    margin: 10px;
    button {
        font-size: 1.5em;
        width: 200px;
        color: #f0f0f0;
        font-weight: 600;
        transition: 0.1s;
    }
    &__agregar {
        background-color: $btn-agregar-background;
        &:hover{
            background-color: lighten($btn-agregar-background, 10%);
        }
    }
    &__quitar {
        background-color: $btn-quitar-background;
        &:hover{
            background-color: lighten($btn-quitar-background, 10%);
        }
    }
    &__modificar {
        background-color: $btn-modificar-background;
        &:hover{
            background-color: lighten($btn-modificar-background, 10%);
        }
    }
}

.flex-grow{
    flex-grow: 2;
}


/*#endregion ---- Stock ----*/

/*#region ---- Contacto ----*/
.form {
    border: 3px solid black;
    .contacto-img {
        width: 800px;
        height: 600px;
        opacity: 0.6;
        float: left;
    }
}

.cut-half-img {
    -webkit-shape-outside: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    shape-outside: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
    -webkit-shape-margin: 20px;
    shape-margin: 20px;
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

/* Me gustaría ajustarlo dinamicamente a la imagen (Contacto img) */
.contact-form {
    height: 600px;
}

.right-form {
    display: inline;
    section {
        display: inline-block;
    }
    label {
        margin-bottom: 0;
    }
    
}

.label-input {
    display: inline-block;
    padding: 10px 15px;
    textarea {
        display: inline-block;
    }
    select {
        width: 208px;
        padding: 2px;
    }
}

/* Hace un override forzado del display block */
.stacked {
    display: block !important;
}

#reset-submit {
    text-align: center;
}

.button-submit {
    background-color: rgb(255, 101, 101);
    border-radius: 999px;
    border: 0px solid;
    color: white;
    font-size: large;
    height: 50px;
    width: 200px;
    &:hover {
        background-color: rgb(224, 49, 49);
    }
}

.button-clear {
    background-color: white;
    border-radius: 999px;
    border: 1px solid;
    font-size: large;
    height: 50px;
    margin-right: 25px;
    width: 200px;
    &:hover {
        background-color: rgb(204, 204, 204);
    }
}
/*#endregion ---- Contacto ----*/

.pill {
    border-radius: 999px;
}

/* Da un height de 30px */
.tall {
    height: 30px;
}

.black-on-white {
    background-color: rgb(0, 0, 0);
    color: white;
    &:hover, &:focus {
    background-color: rgb(255, 255, 255);
    transition: 0.3s;
    color: black;
    }
}

.block {
    display: block;
}

.checkbox {
    vertical-align: middle;
    display: inline;
    width: auto;
}

.center {
    text-align: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

/*#region ---- Index ----*/

.carousel {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 85vw;
    height: auto;
}

.splide__img {
    height: auto;
    width: 100vw;
}

.side-panel {
    /* Con el flex basis puedo setear el width */
    flex: 0 0 200px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
    &__head {
        margin-top: 2px;
    }
}

.clean-list {
    list-style-type: none;
    padding-left: 20px;
}


.nav-location {
    box-sizing: border-box;
    height: 30px;
    margin: 10px;
    justify-content: space-between;
    align-items: center;
}

.main-index {
    margin: 10px auto;
    max-width: 1200px;
    /* height: 600px; */
}

.main-panel {
    margin-top: 0px;
    margin-left: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.producto {
    flex-grow: 2;
    text-align: center;
    border-radius: 5%;
    margin: 5px;
    padding: 5px;
    background: rgb(252, 181, 181);
    background: linear-gradient(135deg, rgba(252, 181, 181, 1) 0%, rgba(253, 232, 232, 1) 73%);
    box-shadow: 1px 1px rgb(116, 1, 1);
    &__img {
        border-radius: 5%;
        width: 200px;
        height: 200px;
        display: block;
        transition: all 1s;
        &:hover {
            transform: scale(1.1) rotateZ(1deg);
        }
    }   
    &__texto {
        font-size: 1.5rem;
    }
    &__precio {
        font-weight: 500;
    }
}

.productos {
    justify-content: space-around;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-justify-center {
    justify-content: center;
}

.flex-center-top {
    align-items: center;
}

/*#endregion ---- Index ----*/

/* #region ---- Admin ---- */
.admin-grid-container {
    margin-right: 10px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 200px 0.9fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.4fr 1.5fr 0.9fr 0.9fr 0.9fr;
    gap: 10px 10px;
    grid-template-areas:
        "navigation news news news news news news"
        "navigation reporte-ganancias reporte-ganancias reporte-ganancias reporte-ganancias reporte-ganancias reporte-ganancias"
        "navigation reporte-visitas reporte-visitas reporte-visitas reporte-visitas reporte-stock reporte-stock"
        "navigation reporte-ventas reporte-ventas reporte-ventas reporte-ventas reporte-mensajes reporte-mensajes"
        "navigation reporte-ventas reporte-ventas reporte-ventas reporte-ventas calendario calendario";
}

.navigation {
    width: 200px;
    grid-area: navigation;
    background-color: rgb(82, 82, 82);
    &__link {
        padding: 10px;
        padding-left: 20px;
        font-size: 1em;
        &:hover {
            background-color: rgb(53, 53, 53);
        }
    }
    &__header {
        color: azure;
    }
    &__text {
        padding-left: 8px;
    }
}

.widget-header {
    display: inline;
    padding: 0px;
    margin: 0px;
    font-size: 1.8em;
    font-weight: 400;
    padding-left: 8px;
}

.widget-logo {
    height: 1.8em;
    width: 1.8em;
}

.widget-panel {
    border-bottom: 1px solid rgb(160, 160, 160);
    padding: 5px;
}

.panel {
    background-color: rgb(253, 249, 249);
    box-shadow: 1px 1px 4px black;
}

.background-red {
    background-color: #dd4c39;
}

.background-cyan {
    background-color: #00c0ef;
}

.background-yellow {
    background-color: #f39c12;
}

.background-green {
    background-color: #00a65a;
}

.vertical-align {
    vertical-align: middle;
}

.center-text {
    text-align: center;
}

.flex-stretch {
    align-items: stretch;
    align-content: center;
}

.news {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    grid-area: news;
    flex-wrap: wrap;
}

.news-item {
    flex-grow: 2;
    flex-basis: 100px;
    margin-left: 10px;
    margin-right: 10px;
    /* Position relative para que el icono esté en absoluto respecto
    este conteiner */
    position: relative;
    transition: 1s;
    &:hover {
        transform: scale(1.05);
    }
    &:nth-child(1) {
        margin-left: 0px;
    }
    &:nth-last-child(1) {
        margin-right: 0px;
    }
    &__icon {
        position: absolute;
        right: 0px;
        height: 100px;
        width: 100px;
        opacity: 0.3;
        z-index: 1;
    }
    &_header {
        color: white;
        padding-left: 10px;
    }
    &__header1 {
        font-size: 2rem;
    }
    &__header2 {
        font-size: 1rem;
        font-weight: 400;
    }
}

.reporte-ganancias {
    grid-area: reporte-ganancias;
}

.chart-container {
    position: relative;
    height: 40vh;
}

.reporte-ventas {
    grid-area: reporte-ventas;
}

.reporte-visitas {
    grid-area: reporte-visitas;
    img {
        width: 100%;
    }
}

.reporte-stock {
    grid-area: reporte-stock;
}

.reporte-mensajes {
    grid-area: reporte-mensajes;
}

.calendario {
    grid-area: calendario;
}

.border {
    border: 1px solid black;
}

/* #endregion ---- Admin ---- */